source https://api.nuget.org/v3/index.json
framework: auto-detect

nuget BenchmarkDotNet 0.13.5
# Work around: https://github.com/dotnet/BenchmarkDotNet/issues/2358
# Perfolizer is a transitive dependency (through BenchmarkDotNet)
nuget Perfolizer 0.2.1
nuget BlackFox.MasterOfFoo 2.1.0
nuget Expecto 8.1.0
nuget Fable.Core 4.0
nuget Fable.Mocha
nuget FSharp.Core = 4.6.2
nuget Microsoft.Extensions.Logging 6.0.0
nuget Microsoft.Extensions.Logging.Console
nuget Microsoft.NET.Test.Sdk
nuget Serilog
nuget Serilog.Extensions.Logging
nuget Serilog.Sinks.File
nuget Serilog.Sinks.InMemory
nuget Suave 2.5.0
nuget YoloDev.Expecto.TestSdk

group Build
    source https://api.nuget.org/v3/index.json
    framework: net9.0
    
    nuget Fake.DotNet.Paket ~> 6.1.3
    nuget Fake.JavaScript.Yarn
    nuget Fake.Tools.Git
    nuget FSharp.Core >= 6
    nuget Fake.Core.Target ~> 6.1.3
    nuget Fake.DotNet.Cli ~> 6.1.3
    nuget FSharp.Data
    nuget MSBuild.StructuredLogger ~> 2.2.386
    nuget Microsoft.Build ~> 17.11.4
    nuget Microsoft.Build.Framework ~> 17.11.4
    nuget Paket.Core
    nuget System.IO.Compression
    
group Test
    source https://api.nuget.org/v3/index.json
    framework: net9.0
    
    nuget BlackFox.MasterOfFoo >= 2.1.0
    nuget Expecto ~> 8.10.0
    nuget Fable.Browser.Dom
    nuget Fable.Core >= 4.0
    nuget Fable.Mocha
    nuget Microsoft.Extensions.Logging >= 6.0.0
    nuget Microsoft.NET.Test.Sdk
    nuget Serilog.Extensions.Logging
    nuget Serilog.Sinks.TextWriter
    nuget Suave >= 2.5.0
    nuget YoloDev.Expecto.TestSdk
    nuget FSharp.Core >= 6.0.0
    